#beat-0,
#beat-1,
#beat-2,
#beat-3,
#beat-4,
#beat-5,
#beat-6,
#beat-7 {
  background-color: white;
  color: black;
  height: 150px;

}
.title {
  position: relative;
  height: 75%;
}

.title p {
  vertical-align: text-bottom;
  position: absolute;
  bottom: 0;
}

.artist {
  text-align: center;
}

.beat {
  height: 15%;
  background-color: black;
  color: white;
  text-align: center;
}

@media screen and (max-width: 480px) {

  .title {
    position: relative;
    height: 0;
  }

  #beat-0,
  #beat-1,
  #beat-2,
  #beat-3,
  #beat-4,
  #beat-5,
  #beat-6,
  #beat-7 {
    background-color: white;
    color: black;
    height: 50px;
  }

  .artist {
    text-align: right;
  }
}
